<h3 class="text-center">Nuestro stock</h3>
<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let raqueta of raquetas" [ngClass]="{'oferta': raqueta.oferta}">
            <td><img width="300" class="img-fluid" [src]="raqueta.imagen" [alt]="raqueta.marca"></td>
            <td>{{raqueta.marca}}</td>
            <td>{{raqueta.modelo}}</td>
            <td>{{raqueta.precio | currency }}</td>
            <td><span class="badge rounded-pill text-bg-warning" *ngIf="raqueta.stock==0">SIN STOCK</span></td>
            <td>


                <div class="input-group" *ngIf="raqueta.stock">
                  <app-input-numeros [(cantidad)]="raqueta.cantidad" [max]="raqueta.stock" (topeMax)="topeMax($event)" class="form-control"></app-input-numeros> 
                      <div class="input-group-append">
                      <button class="btn btn-primary agregar-carrito-btn" (click)="agregarCarrito(raqueta)">Agregar al carrito</button>
                    </div>
                  </div>

            </td>               
        </tr>
    </tbody>
</table>




